html{
font-size:17px;
font-family: 'Open Sans';
}

h1{
font-size:60px;
text-align : center;
text-shadow: 2px 2px 2px black;
}

p,li{
line-height : 4px;
letter-spacing : 1px;
}

html {
  background-color: #FFFFFF;
}

body{
width: auto;
margin: 0 auto;
padding: 0px 20px 20px 20px;
}
img{
display : block;
text-align: center;
margin: 0 auto; 
}
div{
width:640px;
height: 426px;
margin:0 auto;
}
